.category_buttons{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_category_container{
/* border: 1px solid black; */
display: flex;
justify-content: space-around;
margin-top: 1rem;
margin-bottom: 1rem;
width: 100%;

}

.category_input_container{
display: flex;
align-items: center;
/* border: 1px solid black; */

}

.category_search_input{
    height: 2rem;
    width: 18rem;
    border-radius: 6px;

    background-color:beige;
}