
.navbar_container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#e2e2e2;

}
.loginBtn_Container{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 15rem;
}
.loginBtn{
    height: 3rem;
}
